<section>
    <script src="https://giscus.app/client.js"
    data-repo="khaledxyz/khaledxyz-blog"
    data-repo-id="R_kgDOMfGk_Q"
    data-category="Comments"
    data-category-id="DIC_kwDOMfGk_c4ChaVu"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>
</section>
